<nav class="navbar">
    <div class="container">
        <a href="#" class="logo">Your Logo</a>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</nav>

<div class="content">
    <!-- Your page content here -->
</div>
